<div class="container">
  <div class="d-none d-sm-none d-md-block">
    <div class="list-group">
      <span
        class="list-group-item list-group-item-action"
        [routerLink]="['./account']"
        >My Account</span
      >
      <span class="list-group-item list-group-item-action">Orders</span>
      <span class="list-group-item list-group-item-action">Inbox</span>
      <span class="list-group-item list-group-item-action"
        >Pending Reviews</span
      >
      <span class="list-group-item list-group-item-action">Locage Credit</span>
      <span
        class="list-group-item list-group-item-action"
        [routerLink]="['./wishlist']"
        >Wish List</span
      >
      <span class="list-group-item list-group-item-action"
        >Recently Viewed</span
      >
    </div>

    <div class="list-group">
      <span
        class="list-group-item list-group-item-action"
        [routerLink]="['./update-account']"
        >Update Account</span
      >
      <span
        class="list-group-item list-group-item-action"
        [routerLink]="['./address']"
        >Address</span
      >
      <span
        class="list-group-item list-group-item-action"
        [routerLink]="['./update-password']"
        >Change Password</span
      >
      <span class="list-group-item list-group-item-action"
        >Newsletter Preferences</span
      >
    </div>
  </div>

  <div class="d-none d-sm-none d-md-block">
    <router-outlet></router-outlet>
  </div>
</div>
