<div class="container">
  <div class="d-none d-sm-none d-md-block">
    <div class="list-group">
      <div
        class="list-group-item list-group-item-action"
        [routerLink]="['./account']"
        routerLinkActive="activ "
      >
        <i class="icon far fa-user"></i>
        <span> My Account</span>
      </div>
      <div
        class="list-group-item list-group-item-action"
        [routerLink]="['./orders']"
        routerLinkActive="activ "

      >
        <i class="icon fas fa-box-open"></i> <span>Orders</span>
      </div>
      <div
        class="list-group-item list-group-item-action align-items-center"
        [routerLink]="['./inbox']"
        routerLinkActive="activ "
      >
        <i class="icon far fa-envelope"></i> <span>Inbox</span>
      </div>
      <div
        class="list-group-item list-group-item-action"
        [routerLink]="['./pending-review']"
        routerLinkActive="activ "
      >
        <i class="icon far fa-comment-alt"></i> <span>Pending Reviews</span>
      </div>
      <div
        class="list-group-item list-group-item-action"
        [routerLink]="['./locageCredit']"
        routerLinkActive="activ "
      >
        <i class="icon far fa-credit-card"></i> <span>Locage Credit</span>
      </div>
      <div
        class="list-group-item list-group-item-action"
        [routerLink]="['./wishlist']"
        routerLinkActive="activ "
      >
        <i class="icon far fa-heart"></i> <span> Wish List</span>
      </div>
      <div
        class="list-group-item list-group-item-action"
        [routerLink]="['./recently_View']"
        routerLinkActive="activ "
      >
        <i class="icon fas fa-history"></i> <span>Recently Viewed</span>
      </div>
    </div>

    <div class="list-group">
      <span
        class="list-group-item list-group-item-action"
        [routerLink]="['./update-account']"
        routerLinkActive="activ "
        >Update Account</span
      >
      <span
        class="list-group-item list-group-item-action"
        [routerLink]="['./address']"
        routerLinkActive="activ "
        >Address</span
      >
      <span
        class="list-group-item list-group-item-action"
        [routerLink]="['./update-password']"
        routerLinkActive="activ "
        >Change Password</span
      >
      <span class="list-group-item list-group-item-action"
        >Newsletter Preferences</span
      >
    </div>
  </div>

  <div class="d-none d-sm-none d-md-block">
    <router-outlet></router-outlet>
  </div>
</div>
