.card-header-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #184052;
}
.div-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
