<div class="vision-container">
  <div class="container">
    <h5 class="we-text">Our Vision</h5>
    <div class="vision-cards row">
      <div class="vision-content col-lg-6 col-md-6">
        <div class="icon-container">
          <p class="percent"><i class="fa fa-percent"></i></p>
        </div>
        <div class="text-container">
          <p>Providing 100% authentic products</p>
        </div>
      </div>
      <div class="vision-content col-lg-6 col-md-6">
        <div class="icon-container ">
          <p class="percent"><i class="fa fa-tag"></i></p>
        </div>
        <div class="text-container">
          <p>With the best price in Egypt
          </p>
        </div>
      </div>
      <div class="vision-content col-lg-6 col-md-6">
        <div class="icon-container">
          <p class="percent"><i class="fa fa-shopping-bag"></i></p>
        </div>
        <div class="text-container">
          <p>Offering the most convenient shopping</p>
        </div>
      </div>
      <div class="vision-content col-lg-6 col-md-6">
        <div class="icon-container">
          <p class="percent"><i class="fa fa-users"></i></p>
        </div>
        <div class="text-container">
          <p>Assessting you with the best service in Egypt
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
