#cartcontainer {
    background-color: #fff;
    border-radius: 5em;
    width: 13rem;
}

.fa {
    color: #22b687;
    font-size: 1.3em;
}

p {
    font-size: 1.3em;
    color: #184052;
}

.btn {
    color: #fff;
    background-color: #22b687;
    font-size: medium;
    border-radius: 5rem;
}

.btn:hover {
    background-color: #30ca99;
}