#formImg {
  display: grid;
  place-items: center;
  grid-auto-columns: auto;
}

@media (min-width: 1024px) {
  #image {
    width: 800px;
    height: 800px;
  }
}

@media (min-width: 990px) {
  #image {
    width: 700px;
    height: 700px;
  }

}

@media (min-width: 800px) {
  #image {
    width: 600px;
    height: 600px;
  }

}

@media (min-width: 728px) {
  #image {
    width: 500px;
    height: 500px;
  }

}

@media (max-width: 728px) {
  #image {
    width: 350px;
    height: 350px;
  }

}
