
<!-- <div class="wrapper" *ngIf="empty">
  <img src="../../../../assets/images/emptyt_co35.svg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
</div> -->


<div class="wrapper" (click)='navigatToProduct()'>
    <div class="row no-gutters">
        <div class="img-container d-flex justify-content-center align-content-center col-5 col-md-3">
            <img src="{{img}}" alt="product-img" class="product-img"
            onerror="this.src='../../../../assets/images/images.png'">
        </div>
        <div class="p-1 pl-4 col-7 col-md-9">
            <div class="details">
                <div class="product-name">
                    {{titel}}
                </div>
                <div class="product-detailes">
                    <!-- 256 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 15MP Front Camera A12 Bionic Chip Processor |
          Gorilla Glass with high quality display -->
                    {{info}}
                </div>
                <div class="rating d-flex">
                    <bar-rating [(rate)]="rate" [max]="5" [readOnly]="true"></bar-rating>

                </div>
                <div class="price">
                    <p>$<span>{{price}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
