.card {
    margin: 10px auto;
    border: none;
}

.card-header {
    background-color: #fff;
    padding: 0;
}

.none_active {
    border: none;
    color: #ddd;
}

.Activ {
    color: #39e2ac;
}

button:focus {
    outline: none;
}

.mat-icon {
    border: none;
}
