
<!-- <div class="subnave">
  <ul class="nav  "  >
    <li class="nav-item" *ngFor="let item of catgories">
        <a class="nav-link " href="#">{{item.main}}</a>
    </li>

</ul>
</div> -->
<div class="btn-group">
  <button type="button" class="btn btn-secondary">Dropdown</button>
  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#!">Action</a>
    <a class="dropdown-item" href="#!">Another action</a>
  </div>
</div>

