<div id="resetPage">
  <div>
    <h2 style="color: #184052">Reset Your Account Password</h2>
  </div>
  <div *ngIf="successReset;then emailSentComponent else resetComponent"></div>

  <ng-template #resetComponent>
    <div id="formImg">
      <div class="d-none d-md-none d-lg-block">
        <img id="image" src="../../../assets/images/login/undraw_forgot_password_gi2d.svg" />
      </div>
      <div>
        <form [formGroup]="resetForm">
          <div class="form-group">
            <label for="email" style="color: #184052"> Email</label>
            <input id="email" formControlName="email" [class.is-invalid]="
                                email?.invalid && (email?.dirty || email?.touched)
                                " [class.is-valid]="email?.touched && !email?.invalid" type="email"
              class="form-control" />
            <small *ngIf="email?.errors?.required && email?.touched" class="text-danger">
              "email is required"
            </small>
            <small *ngIf="email?.errors?.email && email?.touched" class="text-danger">
              "wrong email format"
            </small>
          </div>

        
          <div class="form-group" id="btnDiv">
            <button [disabled]="
                resetForm.invalid || buttonSubmit
              " class="btn btn-success" type="submit" (click)="onSubmit(resetForm.value)">
              Reset Password
            </button>
          </div>
          <div>
            <small *ngIf="invalidReset" class="text-danger">{{errorMsg}}</small>
          </div>
        </form>
      </div>
    </div>
  </ng-template>

  <ng-template #emailSentComponent>
    <h4 class="text-success">
      Password reset instructions sent to {{emailAddress}}, Check your inbox
    </h4>
  </ng-template>
</div>
