
.spinner-border{
  display: inline-block;
  width: 10rem;
  height: 10rem;
  vertical-align: text-bottom;
  border: 1.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
  margin: 88px auto;
  color: #22b687;
}

.btn-flter {
  background-color: #39e2ac;
  color: #ffff;
  width: 2em;
  height: 2em;
  font-size: 2em;
  border: 0;
  outline: none;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   position: fixed;
   z-index: 1;
}

