.card-header-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #184052;
  padding: .75rem 1.25rem;
}

.img-style {
  position: absolute;
  width: 180px;
  height: 165px;
  border-radius: 10px;
  margin: 10px;
}

.card-product {
  height: 185px;
  border: none;
  background-color: #F2F3ED;
  border-radius: 10px;
}

.product-description {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}

* {
  margin: 0;
  padding: 0;
}

.rate {
  float: left;
  height: 46px;
  //padding: 0 10px;
}

.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked)>label:before {
  content: '★ ';
}

.rate>input:checked~label {
  color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
  color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
  color: #c59b08;
}

.product-price {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.buttons {
  margin-top: 42px;
}

.btn-add {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 38px;
  width: 129.79px;
  background: #22B687;
  border-radius: 30px;
  margin: 10px 0;

}

.btn-remove {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  padding: 14px 46px;
  width: 129.79px;
  background: #E94C3C;
  margin: 10px 0;
  border-radius: 30px;
}

.btn-add:hover {
  background: #30ca99;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.btn-remove:hover {
  background: #ff5d4b;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
