<div class="card shadow border-0">
  <div class="card-body">
    <!--=============================== category =============================-->

  <section *ngIf="flag">
    <label > {{initAllProducts[0]?.subcategoryId?.categoryId.name}} Category</label>
    <ul class="list-group border-0">
      <li class="list-group-item border-0 p-1" >{{initAllProducts[0].subcategoryId.name}}</li>
    </ul>
    <hr />
  </section>
<section *ngIf="!flag">
  <label  > All Products</label>
  <ul class="list-group border-0">
    <li class="list-group-item border-0 p-1" ></li>
  </ul>
  <hr />
</section>
    <!--=============================== rating =============================-->


    <div class="rating">
      <label >Product Rating</label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        color="primary"
        [(ngModel)]="rating"
        (change)='filterByRating(rating)'
      >
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let item of ratings"
          value="{{ item }}"

        >
          <bar-rating [rate]="item" [max]="5" [readOnly]="true"></bar-rating>
        </mat-radio-button>
      </mat-radio-group>

    </div>

    <hr />
    <!--=============================== brand =============================-->
    <section class="brand">
      <label > Chooses Brands</label>
        <form class="fg" [formGroup]="formbrand" >
          <div class="d-flex flex-column" formArrayName="brand" *ngFor="let item of brandsArray.controls; let i=index">
             <mat-checkbox  [formControlName]="i"  (change)="filterByBrands()" [value]="brands[i]"  color="primary">
               {{toCaptial(brands[i]) }}
             </mat-checkbox>
          </div>
        </form>

    </section>

    <hr />
<!--=============================== colors =============================-->


    <section class="color" >
      <label>Chooses Colors</label>
      <div class="d-flex flex-wrap">
        <button class="mycolor "  [style.backgroundColor]="color" *ngFor="let color of colors; let i=index"  (click)="filterByColors(color)">

        </button>
      </div>
    </section>

    <hr/>
<!--=============================== price =============================-->


    <section id="price">

      <div class="mb-2 d-flex justify-content-between">
        <label> Price</label>
        <button mat-button (click)="filterByPrice()" color="primary">Apply</button>
      </div>
      <div class="d-flex justify-content-between">
        <mat-form-field appearance="fill">
          <mat-label>Min </mat-label>
          <input matInput placeholder="min" type="number" [formControl]="minPriceControl" required>
          <mat-error *ngIf="minPriceControl.invalid">is invalid</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Max </mat-label>
          <input matInput placeholder="max" type="number" [formControl]="maxPriceControl" required>
          <mat-error *ngIf="maxPriceControl.invalid">is invalid</mat-error>
        </mat-form-field>
      </div>
    </section>

    <hr />
<!--=============================== Size =============================-->


    <section class="size">
      <label> Chooses Sizes</label>
      <form class="fg" [formGroup]="formSize" >
        <div class="d-flex flex-column" formArrayName="arrSizes" *ngFor="let item of sizesArray.controls; let i=index">
           <mat-checkbox  [formControlName]="i" [value]="sizes[i]"  (change)="filterBySizes()"   color="primary">
             {{ toCaptial(sizes[i])}}
           </mat-checkbox>
        </div>
      </form>

    </section>
  </div>
</div>
