.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: -8px 13px;
}


//  .mat-radio-outer-circle {
//   .mat-radio-checked & {
//         border-color: #3fb559 !important;
//       }
//   }

//    .mat-radio-inner-circle {
//       background-color: #53b53f !important;
//   }

//    .mat-radio-ripple .mat-ripple-element {
//       background-color: rgba(#3fb562, 0.26) !important;
//   }

//style checkboxes brands
.example-section {
  margin: 12px 0;
}
