.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.card{
  width: 248px;
}

.example-radio-button {
  margin: -8px 0;
}


.example-section {
  margin: 12px 0;
}

mat-form-field{
  width: 40%;
}

.mycolor{
  width: 30px;
  height: 30px;
   margin: .7ex;
   border: 0;
  box-shadow: 0  1px 3.5px rgba(0, 0, 0, 0.459);
  border-radius: 5px;
}

.mycolor:focus{
  outline: none;

  box-shadow:  0 0 0 5px #1bdb9b85;

}

label{
  font-weight: 500;
  font-size: large;
  margin-bottom: 2ex;
  color:#184052 ;
}
