<div id="loginPage">
  <div>
    <h2 style="color: #184052">Login To Your Account</h2>
  </div>
  <div id="formImg">
    <div class="d-none d-md-none d-lg-block">
      <img id="image" src="../../../assets/images/login/undraw_secure_login_pdn4.svg" />
    </div>
    <div>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="email" style="color: #184052"> Email</label>
          <input id="email" formControlName="email" [class.is-invalid]="
                          email?.invalid && (email?.dirty || email?.touched)
                          " [class.is-valid]="email?.touched && !email?.invalid" type="email" class="form-control" />
          <small *ngIf="email?.errors?.required && email?.touched" class="text-danger">
            "email is required"
          </small>
          <small *ngIf="email?.errors?.email && email?.touched" class="text-danger">
            "wrong email format"
          </small>
        </div>

        <div class="form-group">
          <label for="password" style="color: #184052">Password</label>
          <input id="password" formControlName="password" [class.is-invalid]="
                         password?.invalid && (password?.dirty || password?.touched) "
            [class.is-valid]="password?.touched && !password?.invalid" type="password" class="form-control" />
          <small *ngIf="password?.errors?.required && password?.touched" class="text-danger">
            "password is required"
          </small>

          <small *ngIf="password?.errors?.minlength && password?.touched" class="text-danger">
            "password must be at least 8 characters"
          </small>
        </div>

        <div class="form-group" id="resetDiv">
          <a id="resetPassword" [routerLink]="['/reset-password']">Forget Your Password?</a>
        </div>

        <div class="form-group" id="btnDiv">
          <button [disabled]="
          loginForm.invalid || buttonSubmit
        " class="btn btn-success" type="submit" (click)="onSubmit(loginForm.value)">
            Login
          </button>
        </div>
        <div>
          <small *ngIf="invalidLogin" class="text-danger">{{errorMsg}}</small>
        </div>
      </form>
      <hr>
      <div class="creatAccountDiv">
        <span  style="color: #184052">
          New Customer?
        </span>
        <div>
          <button class="btn btn-success" [routerLink]="['/register']">Create new Account</button>
        </div>
      </div>
    </div>
  </div>
</div>
