<div class="container">
  <div class="aboutUsHeader">
    <h2>About Us</h2>
  </div>
  <h5 class="we-text">We Are Locage</h5>
  <div class="img-Container">
    <img src="../../assets/images/img-About.jpg" class="weImg">
  </div>
</div>
  <app-our-vision></app-our-vision>
  <app-locage-today></app-locage-today>
  <div class="history">
  <div class="container">
    <h5 class="we-text">History</h5>
    <div class="History-container row">
    <div class="img-History col-lg-6 col-md-12 col-sm-12">
      <img src="../../assets/images/img-About.jpg">
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
    <ul>
      <li>Locage, Egypt's no. 1 online mall was established in July 2012 with the aim and vision to become the one-stop shop in Egypt with implementation of best practices both online and offline.</li>
      <li>Locage is the largest online mall store in Egypt.</li>
      <li>At inception we did an average delivery time of a week, today we do, on average, delivery in 1-5 days.</li>
      <li> Initially starting with 3 employees, Locage presently has a staff strength of 350 young and entrepreneurial Egyptians.</li>
      <li>Deliveries to all cities in Egypt.</li>
    </ul>
  </div>
  </div>
  </div>
</div>

