<div class="wrapper">
  <div class="row no-gutters">
    <div
      class="
        img-container
        d-flex
        justify-content-center
        align-content-center
        col-6 col-lg-3
      "
    >
      <img
        src="{{product.photos[0]}}"
        alt="product-img"
        class="product-img"
        onerror="this.src='../../../../assets/images/images.png'"
      />
    </div>
    <div class="p-1 pl-4 col-6 col-lg-3">
      <div class="details">
        <div class="product-name">{{product.title}}</div>
        <div class="product-detailes">
           {{product.description}}
        </div>
       
        <div class="price">
          <p>{{product.price}}<span>$</span></p>
        </div>
        <!--* icon --->
        <div class="d-flex flex-row justify-content-start">
          <button (click)="addToFav()" [disabled]="!logged" [title]="logged?'':'You must log in'" type="button" class="icon-btn btn">
            <i class="fas fa-heart"></i>
          </button>
          <button [disabled]="!logged" [title]="logged?'':'You must log in'" (click)="deleteItem()" type="button" class="icon-btn btn">
            <i class="fas fa-trash-alt"></i>
          </button>
          
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3 d-flex flex-column align-items-center">
      <div class="quantity">
        <div class="d-flex flex-row">
          <div>
            <button  type="button" class="quant-add btn" (click)="increase() ">
              <i class="fas fa-plus"></i>
            </button>
          </div>
          <div class="quant d-flex justify-content-center align-items-center">
            <p class="quant-num-txt">{{product.quantity}}</p>
          </div>
          <div>
            <button type="button" class="quant-sub btn" (click)="decreac()">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>
