<div *ngIf="item" class="card card-product">
  <div class="card-body">
    <div class="row no-gutters">
      <div
      class="
        img-container
        d-flex
        justify-content-center
        align-content-center
        col-4
      "
    >
      <img
        src="{{item.photos[0]}}"
        alt="product-img"
        class="product-img"
        onerror="this.src='../../../../assets/images/images.png'"
      />
    </div>
  <div class="p-1 pl-4 col-4">
      <div class="details">
        <div class="product-name">{{item.title}}</div>
        <div class="product-detailes">
           {{item.description}}
        </div>
        <div class="product-rating ">
          <bar-rating [(rate)]="item.rating" [max]="5" [readOnly]="true"></bar-rating>
      </div>

        <div class="price">
          <p>{{item.price}}<span>$</span></p>
        </div>

      </div>
    </div>
      <div class="col-4 d-flex flex-column align-items-center">

          <button class=" btn btn-add mb-3 mt-2 p-2 pl-3 pr-3" id="add" (click)='addToCart()'>Add To Cart</button>
          <button class="btn btn-remove" id="remove" (click)="removeItem(item._id)">
            <i class="fas fa-trash-alt mr-2"></i>  <span> Remove</span>
          </button>
        </div>
      </div>
    </div>
  </div>

