<div class="wrapper h-100 w-100" *ngIf="isLoding">
  <div class="d-flex justify-content-center align-items-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="container-fluid p-5" *ngIf="!isLoding">
  <div class="d-flex flex-column flex-lg-row">
    <div class="col-12 col-lg-5">
      <app-image-preview [imgs]="product.photos"></app-image-preview>
    </div>
    <div
      class="col-12 col-lg-6 border-dark ml-3"
      style="border: 1px soled gold"
    >
      <div class="details">
        <div class="product-name">{{ product.title }}</div>
        <div class="product-detailes">
          <p>Discount : {{ product?.discount }} %</p>
          {{ product.description }}
        </div>
        <div class="rating d-flex">
          <bar-rating
            [rate]="product.rating"
            [max]="5"
            [readOnly]="true"
          ></bar-rating>
        </div>

        <div class="price p-1 mt-1">
          <p>
            $<span>{{ product.price }}</span>
          </p>
        </div>
        <hr />

        <div class="d-flex justify-content-between">
          <div class="brand mt-3 p-2">
            <div class="brandTitel" style="font-size: 1.5em; font-weight: 500">
              Brand :
            </div>
            <p class="mt-3">{{ product.brand }}</p>
          </div>
          <div class="size mt-3 p-2">
            <div class="sizeTitel" style="font-size: 1.5em; font-weight: 500">
              Size :
            </div>
            <div class="mt-3">
              <span>{{ product.size }}</span>
            </div>
          </div>
          <div class="d-flex justify-content-start flex-column sku mt-3 p-2">
            <div class="" style="font-size: 1.5em; font-weight: 500">Sku :</div>
            <div class="mt-3">
              <span> {{ product.sku }}</span>
            </div>
          </div>
        </div>

        <div class="colorSection mt-3">
          <div class="colortitel" style="font-size: 1.5em; font-weight: 500">
            Color :
          </div>
          <div class="d-flex mt-3">
            <div
              class="color"
              *ngFor="let item of product.color"
              [style.backgroundColor]="item"
            ></div>
          </div>
        </div>

        <hr />
        <div class="description mt-3">
          <span class="d-block" style="font-size: 1.5em; font-weight: 500">
            Description
          </span>

          <p class="mt-3" [innerHtml]="product.description"></p>
        </div>

        <div class="d-flex justify-content-between mt-5 p-3">
          <div class="quantitySection" *ngIf="product.quantity > 0">
            <div
              class="quantityText p-1"
              style="font-size: 1.5em; font-weight: 500"
            >
              Quantity:
            </div>

            <div
              class="d-flex flex-row justify-content-start align-content-start"
            >
              <div class="pt-2 pb-2 pr-2">
                <i
                  class="fas fa-plus-circle"
                  style="font-size: 2em; color: #38bd92"
                  (click)="increase()"
                ></i>
              </div>
              <div class="p-2">
                <p class="pt-1" style="font-size: 1.5em">{{ count }}</p>
              </div>
              <div class="p-2">
                <i
                  class="fas fa-minus-circle"
                  style="font-size: 2em; color: #38bd92"
                  (click)="decreac()"
                ></i>
              </div>
            </div>
            <div *ngIf="product.quantity <= 10">
              <small class="text-danger"
                >Only {{ product.quantity }} left in stock</small
              >
            </div>
          </div>

          <div
            *ngIf="
              product.quantity <= 0;
              then outOfStockComponent;
              else addToCartComponent
            "
          ></div>
          <ng-template #outOfStockComponent>
            <div>Out Of Stock</div>
          </ng-template>
          <ng-template #addToCartComponent>
            <button (click)="addToCart()" class="btn">
              Add to Cart <i class="fas fa-shopping-cart"></i>
            </button>
          </ng-template>
        </div>
        <hr />
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a
            class="nav-item nav-link active"
            id="nav-home-tab"
            data-toggle="tab"
            href="#nav-home"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
            >Overview</a
          >
          <a
            class="nav-item nav-link"
            id="nav-profile-tab"
            data-toggle="tab"
            href="#nav-profile"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
            >Specifications</a
          >
          <a
            class="nav-item nav-link"
            id="nav-contact-tab"
            data-toggle="tab"
            href="#nav-contact"
            role="tab"
            aria-controls="nav-contact"
            aria-selected="false"
            >Reviews</a
          >
        </div>
      </nav>
      <div class="tab-content py-4 px-4 px-sm-0" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
        >
          <div
            class="p-5 mt-2 d-flex justify-content-start"
            [innerHtml]="product.productSpecifications"
          ></div>
        </div>
        <div
          class="tab-pane fade"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
        >
          <div
            class="p-5 mt-2 d-flex justify-content-start"
            [innerHtml]="product.productSpecifications"
          ></div>
        </div>
        <div
          class="tab-pane fade"
          id="nav-contact"
          role="tabpanel"
          aria-labelledby="nav-contact-tab"
        >
          <div
            class="p-5 mt-2 d-flex justify-content-start"
            [innerHtml]="product.productSpecifications"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <div class="customerReviwe card mt-5">
    <div
      class="card-header text-left font-weight-bold h5"
      style="color: #184052"
    >
      Customer Reviewe
    </div>
    <div class="card-body d-flex flex-column flex-md-row">
      <div class="col-12 col-md-4">
        <div class="rating d-flex justify-content-center m-3">
          <bar-rating
            [rate]="totalRate"
            [max]="5"
            [readOnly]="true"
          ></bar-rating>
        </div>
        <!-- ---------------------------------- . ---------------------------------- -->
        <div class="d-flex flex-column">
          <!--* 5star --->
          <div class="row">
            <div class="col-2 d-flex align-items-center justify-content-start">
              <label> 5 stars</label>
            </div>
            <div class="col-10">
              <div class="progress">
                <div
                  class="progress-bar"
                  id="barprogress"
                  role="progressbar"
                  [style.width]="calcWidthPercent(rate5, max) + '%' || '%' + 0"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  {{ calcWidthPercent(rate5, max) }} %
                </div>
              </div>
            </div>
          </div>
          <!--* 4star --->
          <div class="row">
            <div class="col-2 d-flex align-items-center justify-content-start">
              <label> 4 stars</label>
            </div>
            <div class="col-10">
              <div class="progress">
                <div
                  class="progress-bar"
                  id="barprogress"
                  role="progressbar"
                  [style.width]="calcWidthPercent(rate4, max) + '%' || '%' + 0"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  {{ calcWidthPercent(rate4, max) }} %
                </div>
              </div>
            </div>
          </div>
          <!--* 3star --->
          <div class="row">
            <div class="col-2 d-flex align-items-center justify-content-start">
              <label> 3 stars</label>
            </div>
            <div class="col-10">
              <div class="progress">
                <div
                  class="progress-bar"
                  id="barprogress"
                  role="progressbar"
                  [style.width]="calcWidthPercent(rate3, max) + '%' || '%' + 0"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  {{ calcWidthPercent(rate3, max) }} %
                </div>
              </div>
            </div>
          </div>
          <!--* 2star --->
          <div class="row">
            <div class="col-2 d-flex align-items-center justify-content-start">
              <label> 2 stars</label>
            </div>
            <div class="col-10">
              <div class="progress">
                <div
                  class="progress-bar"
                  id="barprogress"
                  role="progressbar"
                  [style.width]="calcWidthPercent(rate2, max) + '%' || '%' + 0"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  {{ calcWidthPercent(rate2, max) }} %
                </div>
              </div>
            </div>
          </div>
          <!--* 1 star --->
          <div class="row">
            <div class="col-2 d-flex align-items-center justify-content-start">
              <label> 1 stars</label>
            </div>
            <div class="col-10">
              <div class="progress">
                <div
                  class="progress-bar"
                  id="barprogress"
                  role="progressbar"
                  [style.width]="calcWidthPercent(rate1, max) + '%' || '%' + 0"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  {{ calcWidthPercent(rate1, max) }} %
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ---------------------------------- . ---------------------------------- -->
      </div>
      <div class="comment col-12 col-md-8">
        <div class="d-flex flex-column justify-content-start" *ngIf="reviews">
          <app-comment
            *ngFor="let item of reviews; let i = index"
            [name]="item?.userId?.firstName + item?.userId?.lastName || 'loloa'"
            [comment]="item?.comment || 'ylaa ba2'"
            [date]="item?.createAt || '22/Jun'"
          ></app-comment>
        </div>
      </div>
    </div>
  </div>
</div>
