#profileDiv {
    display: grid;
    grid-template-columns: 50px 100px 1px; //62px 47px 11px 63px;
    align-items: center;
    margin-left: 3ex;
  }
  #loginIcon {
    color: white;
  }
  .fas{
    font-size: 3em;
    background-color: #38BD92;
    border-radius: 1ex;
  }

  #profileButton {
    color: white;
    font-size: medium;
  }

  .btnHover:hover {
    cursor: pointer;
  }
  .dropdown-btns:hover {
      color: #22b687
  }
  .dropdown-btns:focus {
    outline: none;
    color:white;
    background-color: #22b687;
}
