<div id="profileDiv">

  <div id="loginIcon">
    <i class="fas fa-user-circle fa-2x"></i>
  </div>

  <div id="profileButton">
    <div class="dropdown open">
      <span *ngIf="currentUser != null" class="btnHover dropdown-toggle" id="triggerId" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">{{currentUser?.firstName | truncate:[7,"..."]}}</span>

      <div class="dropdown-menu dropdown-menu-center" aria-labelledby="triggerId">
        <button class="dropdown-btns dropdown-item" [routerLink]="['/profile']">Account</button>
        <button class="dropdown-btns dropdown-item" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>

</div>
