<div class="card">
  <div class="card-header card-header-text">Change Password</div>
  <div class="card-body">
    <form [formGroup]="changePassForm">
      <div class="form-group">
        <input
          id="currentPassword"
          placeholder="Current Password"
          formControlName="currentPassword"
          [class.is-invalid]="
            currentPassword?.invalid &&
            (currentPassword?.dirty || currentPassword?.touched)
          "
          [class.is-valid]="
            currentPassword?.touched && !currentPassword?.invalid
          "
          type="password"
          class="form-control"
        />
        <small
          *ngIf="currentPassword?.errors?.required && currentPassword?.touched"
          class="help-block text-danger"
        >
          password is required
        </small>

        <small
          *ngIf="currentPassword?.errors?.minlength && currentPassword?.touched"
          class="text-danger"
        >
          password must be 8 characters long
        </small>
      </div>

      <div class="form-group">
        <input
          id="password"
          placeholder="New Password"
          formControlName="password"
          [class.is-invalid]="
            password?.invalid && (password?.dirty || password?.touched)
          "
          [class.is-valid]="password?.touched && !password?.invalid"
          type="password"
          class="form-control"
        />
        <small
          *ngIf="password?.errors?.required && password?.touched"
          class="text-danger"
        >
          password is required
        </small>

        <small
          *ngIf="password?.errors?.minlength && password?.touched"
          class="text-danger"
        >
          password must be 8 characters long
        </small>
      </div>

      <div class="form-group">
        <input
          id="confirmPassword"
          placeholder="Retype New Password"
          formControlName="confirmPassword"
          [class.is-invalid]="
            confirmPassword?.invalid &&
            (confirmPassword?.dirty || confirmPassword?.touched)
          "
          [class.is-valid]="
            confirmPassword?.touched &&
            confirmPassword?.value == password?.value
          "
          type="password"
          class="form-control"
        />
        <small
          *ngIf="confirmPassword?.errors?.required && confirmPassword?.touched"
          class="text-danger"
        >
          Confirm Password is required
        </small>
        <small
          *ngIf="
            confirmPassword?.value != password?.value &&
            confirmPassword?.touched
          "
          class="text-danger"
        >
          passwords are not matched
        </small>
      </div>

      <div>
        <button
          [disabled]="
            changePassForm.invalid ||
            confirmPassword?.value != password?.value ||
            buttonSubmit
          "
          type="submit"
          class="btn btn-submit"
          (click)="onSubmit(changePassForm.value)"
        >
          Update Password
        </button>
      </div>
      <div>
        <small *ngIf="successUpdate" class="text-success">{{
          successMsg
        }}</small>
      </div>
      <div>
        <small *ngIf="invalidUpdate" class="text-danger">{{ errorMsg }}</small>
      </div>
    </form>
  </div>
</div>
