
<div class="img-gallery d-flex flex-column justify-content-between" height="100vh">
<div class="img-view mb-3 align-items-center justify-content-center" >
  <img [src]="scrImg"  class="imgProduct  ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
  <!-- <ng-magnizoom
    zoomMode="LENS"
    imageSrc="{{scrImg}}"
    imageClass=" imgProduct img-fluid ">
  </ng-magnizoom> -->
</div>
<div class="img-bar ">
  <owl-carousel-o [options]="customOptions"  >

    <ng-container *ngFor="let slide of imgProduct">
        <ng-template carouselSlide [id]="slide">

            <div  class="image d-flex  " (click)="showImg(slide)">
              <img [src]="slide" class="img-fluid " >
            </div>
        </ng-template>
    </ng-container>

  </owl-carousel-o>


</div>
</div>
