<!-- <div class="img-gallery"> -->
  <div class="img-view d-flex align-items-center justify-content-center overflow-hidden ">
    <img
      [src]="scrImg"
      class="
        imgProduct  img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}
      "
      alt=""
    />

    <!-- <lib-ngx-image-zoom
      [thumbImage]="scrImg"
      [fullImage]="scrImg"
      [magnification]="2"
      [zoomMode]="'hover'"
      [enableLens]="true"
      [lensWidth]="400"
      [lensHeight]="400"
    ></lib-ngx-image-zoom> -->
  </div>



<div class="m-3">
  <ng-image-slider
  [images]="formatedImages"
  [imagePopup]="false"
  [imageSize]="{ width: '110px', height: '110px', space: 7 }"
  [lazyLoading]="true"
  (imageClick)="showImg($event)"
  #nav
></ng-image-slider>
</div>
