<div  style="width: 60vw; border: 1px solid red;margin: 10px auto; " class="d-flex flex-column justify-content-between">
  <div class=" d-flex align-items-center justify-content-center mb-3">
     <img [src]="scrImg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
  </div>

  <owl-carousel-o [options]="customOptions"  >

    <ng-container *ngFor="let slide of imgProduct">
        <ng-template carouselSlide [id]="slide">
            <!-- <img [src]="slide"> -->
            <div [style.backgroundImage]="'url('+slide+')'" class="image" (click)="showImg(slide)"></div>
        </ng-template>
    </ng-container>

  </owl-carousel-o>

</div>

