<!-- <div class=" d-flex flex-column " style="background-color: #184052; width: 100%; color: #fff; padding: 3ex;">
    <div class="row no-gutters w-100 ml-4">
        <div style="height: 8rem; " class="col-12 col-lg-3 justify-content-center ">
            <h5>store location</h5>
        </div>
        <div class="col-12 col-lg-3 justify-content-center ">
            <h5>Customer Support</h5>
        </div>
        <div class="col-12 col-lg-3 justify-content-center  ">
            <h5>Policy</h5>
        </div>
        <div class="col-12 col-lg-3 justify-content-center ">
            <h5>PaymentMethod </h5>
        </div>

    </div>
    <div></div>
</div> -->

<footer class="footer-48201">

    <div class="container pt-5">
        <div class="row pt-5">
            <div class="col-md-4 pr-md-5">
                <a href="#" class="footer-site-logo d-block mb-4">
                    <span id="brand">Locage</span>
                </a>
                <p class="footer-site-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quasi perferendis ratione perspiciatis accusantium.</p>
            </div>
            <div class="col-md">
                <div class="small-header">Customer Services </div>
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Returns&Refunds</a></li>
                    <li><a href="#">Digital Services</a></li>
                    <li><a href="#">Device Support</a></li>
                    <li><a href="#">Get Product Help</a></li>
                    <li><a href="#">Safe Online Shopping</a></li>
                </ul>
            </div>
            <div class="col-md">
                <div class="small-header ">Sell </div>
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Start Selling</a></li>
                    <li><a href="#">Learn to Sell</a></li>
                    <li><a href="#">Business seller</a></li>
                    <li><a href="#">Affiliates</a></li>

                </ul>
            </div>
            <div class="col-md">
                <div class="small-header">About </div>
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="col-md text-md-center">
                <ul class="social list-unstyled d-flex ">
                    <li><a href="#"><span class="fab fa-google"></span></a></li>
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fab fa-youtube"></span></a></li>

                </ul>
                <p class="d-flex align-content-center flex-wrap justify-content-center" id="contact"><a href="#">Contact Us</a></p>
            </div>
        </div>

        <div class="row " id="copy">

            <div class="col-12">
                <div class="d-flex flex-wrap justify-content-center ">
                    <img src="../../../../assets/images/paypal (1).png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="height: 4em;">
                    <img src="../../../../assets/images/visa.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="height:4em;">
                    <img src="../../../../assets/images/Artwork/Mastercard Symbol 73px PNG/mc_symbol_opt_73_3x.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="height: 4em;">
                    <img src="../../../../assets/images/iconfinder_16_Amex_Credit_Card_4518975.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="height: 4em;">
                    <img src="../../../../assets/images/iconfinder_23_credit_2629967.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="height: 4em;">
                </div>
            </div>

            <div class="col-12  text-center ">
                <div class="copyright pl-0 ml-1 ">
                    <p><small>&copy; 2021-2023 All Rights Reserved.</small></p>
                </div>
            </div>


        </div>
    </div>

</footer>
