<section id="topNav">
    <nav class="navbar navbar-expand-sm navbar-light d-flex ">
        <div class="navbar-brand flex-sm-shrink-1">

            <h2>Locage</h2>
        </div>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
            </button>
        <app-search class="d-block d-sm-none w-100"></app-search>
        <div class="collapse navbar-collapse mt-lg-0 " id="collapsibleNavId">
            <div class="d-block d-sm-none">
                <ul class="navbar-nav mr-auto mt-2 ">
                    <li class="nav-item ">

                        <a class="nav-link " href="#"> <i class="fa fa-user" aria-hidden="true"></i> Login </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="#"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a>
                    </li>

                </ul>
            </div>
        </div>

        <!-- <div class="d-none d-md-flex justify-content-between w-100" >
      <app-search class="flex-shrink-0" ></app-search>

      <div class="d-flex justify-content-center " >
       <button type="button " class="btn  btn-circle  "><i class="fas fa-user-alt"></i></button>
        <label class="ml-2  ">Login </label>

      </div>

      <app-sideCart ></app-sideCart>
    </div> -->
        <!-- <div class="d-flex text-white w-100 align-content-center flex-wrap">
      <app-search class=" flex-shrink-1 "></app-search>
      <div class="d-flex justify-content-center " >
        <button type="button " class="btn  btn-circle  "><i class="fas fa-user-alt"></i></button>
         <label class="ml-2  ">Login </label>
    </div>

    <app-sideCart ></app-sideCart>
    </div> -->

        <app-search class="d-none d-sm-block w-100"></app-search>
        <div class="d-none d-sm-flex  justify-content-center flex-sm-shrink-1" id="login">
            <button type="button " class="btn  btn-circle  "><i class="fas fa-user-alt"></i></button>
            <label class=" d-none d-md-block ml-2  ">Login </label>
        </div>
        <div class="d-none d-sm-flex flex-sm-shrink-1">
            <app-sideCart></app-sideCart>
        </div>

    </nav>
</section>
<app-sub-navbar></app-sub-navbar>
