

<div class="wrapper h-100 w-100 " *ngIf="isLoding" >
  <div class="d-flex justify-content-center align-items-center"  >
    <div class="spinner-border" role="status" >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="home" *ngIf="!isLoding" >
    <app-Adv></app-Adv>
    <app-productContainer [title]='"Top Deals"' [products]="topDeals" [type]="1"></app-productContainer>
    <app-productContainer [title]="'Today Deals'" [products]="todayDeals" [type]="2"></app-productContainer>
    <app-productContainer [title] ='"Top Sales"' [products]="topSales" [type]="3"></app-productContainer>
    <app-top-categories [category]="topCategory" ></app-top-categories>
</div>
