.home{
  background-color: #F8F9FA;
}


.spinner-border{
  display: inline-block;
  width: 10rem;
  height: 10rem;
  vertical-align: text-bottom;
  border: 1.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
  margin: 88px auto;
  color: #22b687;
}
