<div class="container">
  <div class="contactUsHeader">
    <h2>Contact Us</h2>
  </div>
  <div class="contact row">
    <div class="allContactInfo col-xl-5">
      <p class="call">Call us.</p>
      <div class="contactInfoContainer">
        <p class="helpdiv">How can we help you?</p>
        <div class="contactInfo">
          <i class="fa fa-phone-alt"></i>19586
        </div>
        <p class="openInfo">Opening hours: Sunday to Thursday 10:00 A.M. to 4:00 P.M.</p>
      </div>
      <div class="contactInfoContainer">
        <p class="helpdiv">Need help placing an order?</p>
        <div class="contactInfo">
          <i class="fa fa-phone-alt"></i>15204
        </div>
        <p class="openInfo">Opening hours: Sunday to Thursday 11:00 A.M. to 5:00 P.M.</p>
      </div>
    </div>
    <app-contacts-form class="col-xl-7"></app-contacts-form>
  </div>
</div>
