.subnave {
  background-color: #ddd;
}

.nav-link {
  color: #184052;
  font-size: 2.2ex;
  display: block;
 padding: .6rem .8rem;
}

.nav-link:hover {
  color: #22b687;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu {
  width: 16rem;
}

// .dropdown>.dropdown-toggle:active {
//   /*Without this, clicking will make it sticky*/
// }

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 1ex 1.5ex;
  text-transform: capitalize;
  font-size: medium;
}

.dropdown-item:hover {
  background-color: #30ca99;
  color: #fff;
}

.fas {
  padding-right: 5px;
  font-size: medium;
}

.scrollSubNave {
  background-color: #ddd;
  padding: 1ex 2ex;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 45px;
}

.items {
  cursor: pointer;
  margin-right: 4ex;
  display: flex;
  align-items: center;
  flex-direction: column
}

.items:hover {
  color: #22b687;
}

.scrollSubNave::-webkit-scrollbar {
  width: 0;
}

#mobileSubnav {
  padding: 15px 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: x-small;
  background-color: #F8F9FA;
}
