<div class="subnave d-none d-sm-block">
  <ul class="nav  ">
    <li class="nav-item dropdown d-flex" *ngFor="let item of categories">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false" [routerLink]="['sub', item._id]"
        (click)="navigatToSub(item._id)"   >
        <!-- <i class="{{item.icon}}"></i> -->
         {{item.name  | truncate: [20, "..."]}}
      </a>
      <div class="dropdown-menu shadow border-0">
        <a class="dropdown-item" [routerLink]="['subcategory', sub._id]" *ngFor="let sub of item.subcategories" (click)="changeSub(sub)">{{sub.name}}</a>
      </div>
    </li>

  </ul>
</div>

<div class="scrollSubNave d-flex  d-sm-none ">
  <div class="items" *ngFor="let item of categories"  [routerLink]="['sub', item._id]">
    {{item.name  | truncate: [20, "..."]}}
  </div>
</div>
<!-- <div id="mobileSubnav" class="d-sm-none">
  <div class="items" *ngFor="let item of Categories">
    <div>
      <i class="{{item.icon}}"></i>
    </div>
    <div>
      {{item.main}}
    </div>
  </div>
</div> -->
