.card-summary{

  border-radius: 8px;
}
.card-title{
  color: #38BD92;
  font-size: 2.7em;
}

.check-btn{
  background-color: #38BD92;
  color: #ffff;
  border: 0;
  border-radius: 5px;
}
.check-btn:hover{
  background-color: #30ca99;
}
.txt{
  font-size: larger;
  font-weight: 500;
}
