
.container {
  max-width: 960px;
}
label{
  font-size: 1rem;
}
.btn-submit {
  background: #22B687;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  align-items: center;
  color: #F2F3ED;
  float: right;
}
.btn-checkout{
  background-color: #38BD92;
  margin-bottom: 4rem;
  color: white;

  border: 0;
}
.btn-checkout:hover{
  outline: none;
  background-color: #3cdaa8ee;
}
.btn-checkout:focus{

  outline: none;
  background-color: #3cdaa8ee;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #38BD92!important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #3cdaa8c4
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #C8FFC8;
}


.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #3cdaa8ee;
  background-color: #38BD92;
}


.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
