<div class="today-container">
  <div class="container">
    <h5 class="we-text">Locage Today</h5>
    <div class="today-cards row">
      <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="today-content">
        <div>
          <p class="number">70000</p>
          <p class="txt">Products</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="today-content">
        <div>
          <p class="number">22</p>
          <p class="txt">African Countries</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="today-content">
        <div>

          <p class="number">820</p>
          <p class="txt">International & National Brands</p>
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="today-content">
        <div>
          <p class="number">2,000,000</p>
          <p class="txt">Downloads for the Locage app</p>
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="today-content">

        <div>
          <p class="number">2,500,000</p>
          <p class="txt">Subscriber</p>
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="today-content">

        <div>
          <p class="number">#1</p>
          <p class="txt">E-commerce website in Egypt</p>
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="today-content">

        <div>
          <p class="number">2,000,000</p>
          <p class="txt">Monthly visitors</p>
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="today-content">

        <div>
          <p class="number">57,000</p>
          <p class="txt">Orders</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
