<div *ngIf="shipment" class="card card-not-default">
  <div class="card-body">
    <p class="userName">{{ shipment!.firstName }} {{ shipment!.lastName }}</p>
    <p>{{ shipment!.fullAddress }}</p>
    <p>{{ shipment!.phoneNumber }}</p>
  </div>
  <div class="card-footer">
    <button
      [disabled]="shipment.primary"
      class="btn btn-set-Default"
      (click)="setAsPrimary()"
    >
      SET AS DEFAULT
    </button>
    <button class="btn btn-set-Default btn-edit" (click)="deleteShipment()">
      <i class="fas fa-trash-alt"></i>
    </button>
    <button class="btn btn-set-Default btn-edit" (click)="editShipment()">
      <i class="fas fa-pencil-alt"></i>
    </button>
  </div>
</div>
<br class="mb-1" />

<!-- Modal -->
<div
  class="modal fade"
  id="modelId"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure?</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteShipment()"
          data-dismiss="modal"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
