<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <p class="card-title">{{ title }}</p>
      <button class="seemore btn .btn-ghost">See More ...</button>
    </div>

    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let item of products">
        <ng-template carouselSlide style="width: auto">
          <app-product-card
            class="m-1"
            [id]="item._id"
            [discount]="item.discount"
            [img]="item?.photos[0]"
            [proudct-name]="item.title"
            [proudct-details]="item.description"
            [rate]="item.rating"
            [price]="item.price"
          >
          </app-product-card>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
