#loginDiv {
  display: grid;
  grid-template-columns: 62px 47px 11px 63px;
  align-items: center;
}

#loginIcon {
  color: white;

}
.fas{
  font-size: 3.4em;
  background-color: #38BD92;
  border-radius: 1ex;
}

#loginButton {
  color: white;

}

#slash {
  color: white;
  font-weight: bolder
}

#registerButton {
  color: white;

}
.btnHover {
  font-size: 2.5ex;
}

.btnHover:hover {
  cursor: pointer;
  color: #30ca99;
}

